.logo{
    height: 60px;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-variant: small-caps;
    font-weight: bold;
    font-size: 300%;
}

p{
    text-align: justify;
}

.mainkepek{
    width: 400px;
}

.dologegy{
    background:linear-gradient(to right,white 3%,black 20%);
    color: white;
    border-radius: 10px;
}

.dologegy:hover{
    border: 5px grey solid;
}

.dologketo{
    background:linear-gradient(to left,white 3%,black 20%);
    color: white;
    border-radius: 10px;
}

.dologketo:hover{
    border: 5px grey solid;
}

.lenti{
    display: inline-block;
}

footer{
    background-color: black;
    color: white;
    font-size: 80%;
}